*.py[cod]
env/*
!env/example
src/clubbable/clubbable/settings/*
!src/clubbable/clubbable/settings/__init__.py
!src/clubbable/clubbable/settings/example.py
src/clubbable/clubbable/db
src/clubbable/clubbable/static
src/clubbable/clubbable/media

# Generated documentation
doc/_build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# IDE settings
.project
.pydevproject
.idea
