*.py[cod]
src/clubbable/clubbable/settings/development.py
src/clubbable/clubbable/settings/production.py
src/clubbable/clubbable/db/db.sqlite3
src/clubbable/clubbable/static
src/clubbable/clubbable/media

# git archive for Docker image and EB
clubbable.tar.gz
clubbable-eb.zip

# Generated documentation
doc/_build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# IDE settings
.project
.pydevproject
.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
