{% extends "club/base.html" %}
{% load static %}

{% block nav %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'dashboard' %}">
        <i class="fas fa-home"></i>
      </a>
    </li>
  </ol>
{% endblock %}

{% block container %}
    <div class="jumbotron">
      <header class="cl-serif cl-space-after">
        <h2>Logged out</h2>
      </header>

      <div class="cl-serif">
        <p>You have logged out successfully.</p>
        <p><a href="{% url 'login' %}">Log in again</a></p>
      </div>
    </div>
{% endblock %}
