{% extends "club/base.html" %}
{% load static %}

{% block nav %}
  <div class="container-fluid">
    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <div class="navbar-left">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
          <i class="fas fa-home"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block container %}
    <div class="jumbotron">
      <header class="cl-serif cl-space-after">
        <h2>Logged out</h2>
      </header>

      <div class="cl-serif">
        <p>You have logged out successfully.</p>
        <p><a href="{% url 'login' %}">Log in again</a></p>
      </div>
    </div>
{% endblock %}
