{% extends "club/authenticated_base.html" %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">
      <i class="fas fa-home"></i>
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'member_list' %}">Members</a>
  </li>
  <li class="breadcrumb-item active">
    {{ member }}
  </li>
{% endblock %}

{% block container %}
  <h2>{{ member }}</h2>

  <div class="container-fluid">
    <div class="row">
      {% for image in member.image_set.all %}
      <div class="col-3 p-2">
        <div class="card border border-dark rounded text-center align-middle"
             style="height: 200px; overflow: hidden;">
          <a href="{% url 'image_show' image.gallery.id image.id %}">
            <img src="{% url 'download_display' image.gallery.id image.id image.filename %}"
                 alt="{{ image }}"
                 class="card-img" />
          </a>
        </div>
      </div>
      {% empty %}
      No images
      {% endfor %}
    </div>
  </div>

{% endblock %}
