{% extends "club/authenticated_base.html" %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">
      <i class="fas fa-home"></i>
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'member_list' %}">Members</a>
  </li>
  <li class="breadcrumb-item active">
    {{ member }}
  </li>
{% endblock %}

{% block container %}
  <h2>{{ member }}</h2>

  <div class="container-fluid">
    <div class="row">
      {% for image in member.image_set.all %}
      <div class="col-3 p-2">
        <div class="card border text-center align-middle"
             style="height: 200px;">
          <a href="{% url 'image_show' image.gallery.id image.id %}">
            <img src="{% url 'download_thumbnail' image.gallery.id image.id image.filename %}"
                 alt="{{ image }}"
                 class="card-img-top border border-dark rounded" />
          </a>
          <div class="card-body" style="overflow: hidden;">
            <p class="card-title">
              <a href="{% url 'image_show' image.gallery.id image.id %}">
                {{ image }}
              </a>
            </p>
          </div>
        </div>
      </div>
      {% empty %}
      No images
      {% endfor %}
    </div>
  </div>

{% endblock %}
