{% extends "club/authenticated_base.html" %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">
      <i class="fas fa-home"></i>
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'member_list' %}">Members</a>
  </li>
  <li class="breadcrumb-item active">
    {{ member }}
  </li>
{% endblock %}

{% block container %}
  <h2>{{ member }}</h2>

  <div class="container-fluid">
    <div class="row">
      {% for image in member.image_set.all %}
      {% include "galleries/image_card.html" %}
      {% empty %}
      No images
      {% endfor %}
    </div>
  </div>

{% endblock %}
