{% extends "club/base.html" %}
{% load static %}

{% block nav %}
  <ol class="navbar-nav mr-auto"></ol>
  <form method="post"
        action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-inline form-row">
      <div class="col-5">
        <input id="id_username"
               name="username"
               type="text"
               class="form-control"
               placeholder="e-mail address" />
      </div>
      <div class="col-5">
        <input id="id_password"
               name="password"
               type="password"
               class="form-control" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-outline-dark">Log in</button>
      </div>
    </div>
    <div class="form-row">
      <div class="col-5">&nbsp;</div>
      <div class="col-5"><small>
        <a href="{% url 'password_reset' %}">Forgotten your password?</a>
      </small></div>
      <div class="col-2">&nbsp;</div>
    </div>
  </form>
{% endblock %}

{% block messageblock %}
  {% if form.errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Your username and password didn't match. Please try again.
  </div>
  {% endif %}
{% endblock %}

{% block container %}
    <div class="jumbotron">
      <header class="cl-serif cl-space-after">
        <div class="text-center cl-space-after">
          <img src="{{ page.banner_img_url }}"
               alt="{{ page.title }}" />
        </div>
        <h1>{{ page.title }}</h1>
      </header>

      <div class="cl-serif">
        {{ page.content_html|safe }}
      </div>
    </div>
{% endblock %}
