{% extends "club/authenticated_base.html" %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">
      <i class="fas fa-home"></i>
    </a>
  </li>
  <li class="breadcrumb-item active">
    {{ gallery }}
  </li>
{% endblock %}

{% block container %}
  <h2>{{ gallery }}</h2>
  <div class="container-fluid">
    <div class="row">
      {% for image in images %}
      <div class="col-3 p-2">
        <div class="card border text-center align-middle"
             style="height: 200px;">
          <a href="{% url 'image_show' image.gallery.id image.id %}">
            <img src="{{ image.thumbnail.url }}"
                 alt="{{ image }}"
                 class="card-img-top border border-dark rounded" />
          </a>
          <div class="card-body m-auto">
            <p class="card-title">
              <a href="{% url 'image_show' image.gallery.id image.id %}">
                {{ image }}
              </a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if is_paginated %}
  <div class="pagination">
    <ol class="breadcrumb">
      {% for page in paginator.page_range %}
      <li class="breadcrumb-item{% if page == page_obj.number %} active{% endif %}">
        {% if page == page_obj.number %}
        {{ page }}
        {% else %}
        <a href="?page={{ page }}">{{ page }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endif %}

{% endblock %}
